.container {
  float: left;
  background: white;
  border-left: 10px solid #DB55DD;
  border-right: 10px solid #DB55DD;
  position: relative;
  box-sizing: border-box;
}

.container .wrapper {
  display: block;
  color: #DB55DD;
  margin: -10px 0;
  border-top: 10px solid #DB55DD;
  border-bottom: 10px solid #DB55DD;
}

.container::before,
.container::after,
.container .wrapper::before,
.container .wrapper::after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  background: #DB55DD;
}

.container::before {
  top: -5px;
  left: -5px;
}

.container::after {
  top: -5px;
  right: -5px;
}

.container .wrapper::before {
  bottom: -5px;
  left: -5px;
}

.container .wrapper::after {
  bottom: -5px;
  right: -5px;
}